<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- ##################import files#################### -->
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/now-ui-kit.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/tabelas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/dashbord.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/login.css') }}">
    <!-- ################################################## -->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/now-ui-kit.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static',    filename='assets/logo.png') }}">
    <title>Athus</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{{ url_for('static',    filename='assets/menuIcon.svg') }}" width="20px" height="20px" style="max-width: none !important;">
    </button>
    <img src="{{ url_for('static',    filename='assets/logo.png') }}" width="50" height="50">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('commands') }}">Commands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashbord') }}">Dashboard</a>
            </li>
        </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Documentation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('commands') }}"></a>
                <a class="dropdown-item" href="/tutorials">Tutorials</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="#">About</a>
        </div>
    </div>
</nav>
<div class="online">
    <div class="cards">
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <p style="font-weight: bold !important;font-size: 18px !important;"><span style="color: red;">{{error}}</span></p>
            </div>
        </div>
    </div>
</div>

  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2><span style="color: white;">LOGIN</span></h2>
        <div class="underline-title"></div>
      </div>
      <form action="{{ url_for('oauthlogin') }}" method="post" class="form">
        <label for="user-username" style="padding-top:13px">
            &nbsp;username
          </label>
        <input id="user-username" class="form-content" type="username" name="username" autocomplete="on" required />
        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;Password
          </label>
        <input id="user-password" class="form-content" type="password" name="password" required />
        <div class="form-border"></div>
        <a href="#">
          <legend id="forgot-pass">Forgot password?</legend>
        </a>
        <button id="submit-btn" type="submit" name="login">LOGIN</button >
        <a href="{{url_for ('cadastro')}}" id="signup">Don't have account yet?</a>
      </form>
    </div>
  </div>



<!-- area da dashbord -->



    <div class="footer">
        <div class="bot-footer">
            <img src="{{ url_for('static',    filename='assets/logo.png') }}" width="50" height="50"><br />
            Copyright © Athus - 2020
        </div><br/>
        <div class="nouridio">developed by <a href="https://twitter.com/londarks"> Londarks</a></div><br>
        <div class="nouridio">design by <a href="https://twitter.com/Nouridio"> nouridio</a></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='js/now-ui-kit.min.js') }}"></script>
</body>
</html>
